{% extends "layout.html" %}
{% block content %}
    <h1>Movie Name: {{ selected_movie_info['name'] }}</h1>
    <ul>
        <li>Language: {{ selected_movie_info['language'] }}</li>
        <li>Runtime: {{ selected_movie_info['runtime'] }}</li>
        <li>Release Date: {{ selected_movie_info['release_date'] }}</li>
        <li>Revenue: {{ selected_movie_info['revenue'] }}</li>
        <li>Genre: 
            {% for genre in selected_movie_genre %}
            {{ genre[0] }}
            {% endfor%}
        </li>
        <li>Actors: 
            <ul>
            {% for actor in selected_movie_castInfo %} 
            <li>Actor Name: <a href="/actors/{{ actor[0] }}">{{ actor[1] }}</a> ---- Role: {{ actor[2] }}</li>  
            {% endfor %}
            </ul>
        </li>
        <li>Directors: 
            <ul>
            {% for director in selected_movie_directorInfo %} 
            <li>Director Name: <a href="/directors/{{ director[0] }}">{{ director[1] }}</a></li>  
            {% endfor %}
            </ul>
        </li>
        <li><a href="https://www.imdb.com/title/{{ selected_movie_link[0] }}">Link</a></li>
    </ul>

{% endblock content %}