{% extends "layout.html" %}
{% block content %}
	<div class="jumbotron">
		<h1 class="display-4">Welcome to our amazing IMDB-like website!!!</h1>
		<p class="lead">This is the project 1 of CSOR W4111(Intro to Database) in Columbia University designed by Shiyu Liu(sl4401) and Ou-Yang hung yi(ho2271)</p>
		<hr class="my-4">
		<p>It uses Flask as backend and PostgreSQL as database. It's so cooooooooool!</p>	
		<a class="btn btn-primary btn-lg" href="/movies" role="button">View</a>
	</div>
{% endblock content %}