<!DOCTYPE html>
<html>
<head>
	{% if title %}
        <title>IMDB-like - {{ title }}</title>
    {% else %}
        <title>IMDB-like</title>
    {% endif %}
    
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='app.css') }}">

</head>
<body>

	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	  <a class="navbar-brand" href="/movies">IMDB-like</a>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	  	<span class="navbar-toggler-icon"></span>
	  </button>

	  <div class="collapse navbar-collapse" id="navbarSupportedContent">
	    <ul class="navbar-nav mr-auto">
	    	<li class="nav-item active">
	    		<a class="nav-link" href="/movies">Home</a>
	    	</li>
	    </ul>
	    <div class="navbar-nav ml-auto">
		    <form class="form-inline my-2 my-lg-0" action="/search" method="POST">
		    	<label for="movies" class="text-light">Movies</label>
		    	<input id="movies" type="radio" name="search_for" value="movies" checked>
		    	<label for="actors" class="text-light">Actors</label>
		    	<input id="actors" type="radio" name="search_for" value="actors">
		    	<label for="directors" class="text-light">Directors</label>
		    	<input id="directors" type="radio" name="search_for" value="directors">
		    	<input class="form-control mr-sm-2" type="search" name="search_content" aria-label="Search">
		    	<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
		    </form>
		    <ul class="navbar-nav ">
		      <li class="nav-item active">
		        <a class="nav-link" href="/register">Sign Up</a>
		      </li>
		      <li class="nav-item active">
		        <a class="nav-link" href="/login">Login</a>
		      </li>
		    </ul>
	    </div>
	  </div>
	</nav>

	<div class="container">
        {% with messages = get_flashed_messages(with_categories=true) %}
        	{% if messages %}
            	{% for category, message in messages %}
            	<div class="alert alert-{{ category }}">
                	{{ message }}
                </div>
            	{% endfor %}
           	{% endif %}
        {% endwith %}

		{% block content %}
		{% endblock %}
	</div>

</body>
</html>